body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: #2f4050;
      font-size: 13px;
      color: RGBA(0, 0, 0, .87);
      overflow-x: hidden;
}
dl > dt {        
    flex: 0 0 180px;
    padding: 2px 5px 2px 20px;
    color: #6b7c93;
    line-height: 1.6;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

dl > dd {        
    flex: 0 0 180px;
    padding: 2px 5px 2px 20px;
    line-height: 1.6;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.control-label {     
    color: #6b7c93;
    line-height: 1.6;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
@media (min-width: 768px)
{
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.btn-primary {
    background-color: #1565C0;
    border-color: #1565C0;
}

.nav > li.active {
    border-left: 4px solid #1565C0;
}

td:nth-child(1) a {
    color: #1565C0;
}
td:nth-child(1) {
    color: #1565C0;
}
.form-control:focus, .single-line:focus {
    border-color: #1565C0;
}
.text-success {
    color: #3c763d;
}
.ibox {
    
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
    background-color: #1976D2;
    border-color: #1976D2;
    color: #FFFFFF;
}
.table-hover>tbody>tr:hover {
    background-color: #EEEEEE;
}

.superscript {
  float:left;
  max-width:5%;
  position: relative; 
  top: 0;
  left: 20px;
  font-size: 100%;
  margin-top:0;
  padding-top:0;
}

.sk-loading {
    min-height:200px;
}
.dropdown.profile-element {
    color: white;
}
.feed-element .well {
    font-size: 13px;
}

.ibox-content.sk-loading:after {
    background-color: rgba(255, 255, 255, .9);
    z-index: 5;
}
.swal2-popup {
    font-size: 1.6rem !important;
}