@{
    ViewData["Title"] = "Applications";
}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">
                        <h2>
                            <span class="text-navy">WDDC Web Content Manager</span>
                        </h2>
                        <p>Welcome to the Web Content Manager</p>
                        <p>A tool that helps manage the content of WDDC website</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="p-lg ">
                                <a href="https://www.wddc.com/p_home.aspx" target="_blank"><img class="img-responsive img-shadow" src="~/css/images/wddc_site.jpg" alt=""></a>
                            </div>

                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .text-navy {
        color: #1565C0;
    }

    .ibox-content h2 {
        margin-bottom: 20px;
    }
</style>
