<div class="footer text-center d-flex align-items-center">
    <div class="container-fluid">
        <p class="text-muted">Copyright © @DateTime.Now.Year WDDC. All Rights Reserved.</p>
    </div>
</div>
